body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link{
  margin-right:35px;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  margin-right: 26px;
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-top: 70px;
}

#supportWrapper a{
  margin-top: 50px;
  margin-right: 60px;
}

#supportHero input{
  padding: 10px 35px;
  width: 100%;
  font-size: 20px;
  border: none;
  margin-left: 20px;
}